*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color:var(--bg-color) #28303a;
    --tex-color: #fff;
    --main-color: #34e7f8;
    --other-color: #fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;
}
body{
    background-color: #042144;
    color: var(--tex-color);
}

.login-form{
    margin: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.btn-entrar{
    margin-top: 0;
    align-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}